body{
  margin:0px;
  font-family: 'Nanum Gothic', sans-serif;
}

.navbar{
  background: #e77;
  width:100vw;
  display:flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
  color:white;
  font-family: 'Fredoka', sans-serif;
  margin-bottom: 15px;
  padding: 20px;
}

section{
  padding:20px 20px;
}

.card-container{
  display:flex;
  align-items: center;
  column-gap: 20px;
  box-shadow: 10px 2px 5px #fdd;
}

.card-image{
  border-radius:6px;
  max-width:160px;
  max-height: 220px;
}

.card-information{
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.card-location{
  display:flex;
  flex-direction: row;
  align-items: center;
  column-gap: 8px;
}

.card-mark{
  width:9px
}
.card-country{
  margin-right:8px;
}
.card-googlemaps{
  text-decoration: none;
  color: #f55;
  transition: 0.2s;
}
.card-googlemaps:hover{
  color: #a33;
}

.card-title{
  font-family: 'Bungee', cursive;
}
.card-date{
  font-size: 13px;
}
.card-desc{
  max-width: 460px;
}

h1, h2, h3, h4, h5, h6{
  margin-top:4px;
  margin-bottom:4px;
}